.fluid-video-container
  iframe.fluid-video(
    ng-src='{{src}}'
    width='{{width}}'
    height='{{height}}'
    frameborder='0'
    allowfullscreen=''
    type='application/x-shockwave-flash'
  )
